<div class='share-button-container'>

  <div class="socialbutton-wrapper">
    <div><b>Share:</b></div> 
    <a href="https://twitter.com/intent/tweet?text={{'https://ln613.github.io/blog' | URLEncoding}}{{page.url | cgi_escape}}" target="_blank">
      <i class="share-twitter fa fa-twitter"></i>
    </a>

    <a href="https://www.facebook.com/sharer/sharer.php?u={{'https://ln613.github.io/blog' | URLEncoding}}{{page.url | cgi_escape}}" target="_blank">
      <i class="share-fb fa fa-facebook"></i>
    </a>

    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{'https://ln613.github.io/blog' | URLEncoding}}{{page.url | cgi_escape}}&title={{page.title | cgi_escape}}" target="_blank">
      <i class="share-linkedin fa fa-linkedin"></i>
    </a>

    <a href="https://plus.google.com/share?url={{'https://ln613.github.io/blog' | URLEncoding}}{{page.url | cgi_escape}}" target="_blank">
      <i class="share-gplus fa fa-google-plus"></i>
    </a>

    <a href="https://news.ycombinator.com/submitlink?u={{'https://ln613.github.io/blog' | URLEncoding}}{{page.url | cgi_escape}}" target="_blank">
      <i class="share-hackernews fa fa-hacker-news"></i>
    </a>

    <a href="http://www.reddit.com/submit?url={{'https://ln613.github.io/blog' | URLEncoding}}{{page.url | cgi_escape}}&title={{page.title | cgi_escape}}" target="_blank">
      <i class="share-reddit fa fa-reddit"></i>
    </a>

    <a href="mailto:ln613@hotmail.com">
      <i class="share-email fa fa-envelope"></i>
    </a>
  </div>
</div>
